/*Default appearance*/
body {
  background-color: #a5b695;
  display: flex;
  margin-top: auto;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

/*Footer style*/
footer {
  margin-top: auto;
  text-align: center;
  font-size: 20px;
  background-color: black;
  color: white;
}

/*Background Color for Blanket Route*/
.blanket_route {
  background-color: #399e5a;
}

/*Background Color for Bed Base Route*/
.bed_base_route {
  background-color: #464f51;
}

/*Background Color for Mattress Route*/
.mattress_route {
  background-color: #c3a995;
}

/*Paragraph Class*/
p {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 42px;
}

/*Bold Class*/
b {
  color: black;
  font-family: "Times New Roman", serif;
  font-size: 42px;
}

/*Heading 1*/
h1 {
  font-family: "Lato", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

a {
display: block;
}

li {
  position: relative;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.homepage {
  font-size: 32px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/*Navbar style*/
.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.container{
  display: flex; 
  flex-wrap: wrap; 
}

/*Block Informations*/
.item{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 33%;
  min-width: 8rem;
  margin: auto;
  background-color: #776353;
}
 .item-info{
   padding: 0.1rem;
   text-align: center;
 }

.item img{
  width: 100%;
}

/*Item Grid*/
.grid_container {
  display: grid;
  gap: 70px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid_item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  overflow-wrap: normal;
}

button #scroll-button {
  text-decoration: none;
  background-color: #776353;
}
