<!DOCTYPE html>
<html lang="en">
{% extends 'layout.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internal Server Error</title>
</head>
<body>
<div style="margin: auto; text-align: center;">
    <h1>Uh-oh...<br>500 - Internal Server Error</h1>
    <h2>Something went wrong with the server, please try again later</h2>
    <a href="/">
        <button class="homebutton">Click here to go back home</button>
    </a>
</div>
{% endblock %}
</body>
</html>