<!DOCTYPE html>
<html>
{% extends 'layout.html' %}
{% block content %}
<body class="blanket_route">
    <b><p class="blanket">
        This is a test to show the list of blankets currently in the database
    </p></b>
<div class="grid_container">
    {% for individual_blanket in blanket %}
    <div class="grid_item">{{individual_blanket[1]}}<br><img src="/static/images/{{individual_blanket[-1]}}" width="200", height="200"></div>
    {% endfor %}
</div>
<!--Obtain all blankets-->
{% for individual_blanket in blanket %} {{individual_blanket[1]}} <br> {% endfor %}
{% endblock %}
</body>
</html>