<!DOCTYPE html>
<html>
{% extends 'layout.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blanket</title>
</head>
<body class="blanket_route">
    <p class="blanket">
        You are looking at the selective choices of blankets from 1 source. Information for each blanket are limited so it's best to visit their website
    </p>
    <button style="width: 99.5%; height: 80px; font-size: 40px;"><a href="https://www.bedbathntable.co.nz/bed/bed-linen/blankets">Source</a></button>
<div class="grid_container">
    <!--Obtain all blankets-->
    {% for individual_blanket in blanket %}
    <div class="grid_item">{{individual_blanket[1]}}<br>
        <a href="/blanket/{{individual_blanket[0]}}">
        <img src="/static/images/{{individual_blanket[-2]}}" width="200", height="200">
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
</body>
</html>