<!DOCTYPE html>
<html>
{% extends 'layout.html' %}
{% block content %}
<body class="mattress_route">
    <i><p class="mattress">
        This is a test to show the list of mattresses currently in the database
    </p></i>
<div class="grid_container">
    {% for individual_mattress in mattress %}
    <div class="grid_item">{{individual_mattress[1]}}<br>
        <a href="/mattress/{{individual_mattress[0]}}">
        <img src="/static/images/{{individual_mattress[-1]}}" width="200", height="200">
        </a>
    </div>
    {% endfor %}
</div>
<!--Obtain all mattresses-->
{% for individial_mattress in mattress %} {{individial_mattress[1]}} <br> {% endfor %} 
{% endblock %}
</body>
</html>