<!DOCTYPE html>
<html>
{% extends 'layout.html' %}
{% block content %}
<body class="bed_base_route">
    <p class="base">
        This is a test to show the list of bed bases currently in the database
    </p>
<div class="grid_container">
    <div class="grid_item">{{base[0][1]}}<br><img src="/static/images/{{base[0][-1]}}" width="200", height="200"></div>
    <div class="grid_item">{{base[1][1]}}<br><img src="/static/images/{{base[1][-1]}}" width="200", height="200"></div>
    <div class="grid_item">{{base[2][1]}}<br><img src="/static/images/{{base[2][-1]}}" width="200", height="200"></div>
    <div class="grid_item">{{base[3][1]}}<br><img src="/static/images/{{base[3][-1]}}" width="200", height="200"></div>
    <div class="grid_item">{{base[4][1]}}<br><img src="/static/images/{{base[4][-1]}}" width="200", height="200"></div>
    <div class="grid_item">{{base[5][1]}}<br><img src="/static/images/{{base[5][-1]}}" width="200", height="200"></div>
    <div class="grid_item">{{base[6][1]}}<br><img src="/static/images/{{base[6][-1]}}" width="200", height="200"></div>
    <div class="grid_item">{{base[7][1]}}<br><img src="/static/images/{{base[7][-1]}}" width="200", height="200"></div>
    <div class="grid_item">{{base[8][1]}}<br><img src="/static/images/{{base[8][-1]}}" width="200", height="200"></div>
</div>
    <!--Obtain all bed bases-->
{% for individual_base in base %} {{individual_base[1]}} <br> {% endfor %} 
{% endblock %}
</body>
</html>