<!DOCTYPE html>
<html>
{% extends 'layout.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mattress</title>
</head>
<body class="mattress_route">
    <p class="mattress">
        You are looking at the selective choices of mattresses from 2 sources. Information for each mattress are limited so it's best to visit their website
    </p>
    <button style="width: 49.75%; height: 80px; font-size: 40px;"><a href="https://www.bedsrus.co.nz/collections/mattress-only">Source 1</a></button>
    <button style="width: 49.75%; height: 80px; font-size: 40px;"><a href="https://mattresswarehouse.co.nz/collections/mattresses">Source 2</a></button>
<div class="grid_container">
    <!--Obtain all mattresses-->
    {% for individual_mattress in mattress %}
    <div class="grid_item">{{individual_mattress[1]}}<br>
        <a href="/mattress/{{individual_mattress[0]}}">
        <img src="/static/images/{{individual_mattress[-2]}}" width="200", height="200">
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
</body>
</html>