<!DOCTYPE html>
<html>
{% extends 'layout.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combo</title>
</head>
<body class="combo_route">
<!--Obtain combo id-->
<div class="grid_container">
    <div class="grid_item" id="combo_grid">
        <h1 style="text-align: center;">What combo are you looking for?</h1><br>
        <form action="/cid_submit" id="get_combo_id" method="POST">
            <label for="cid" style="font-size: 26px;">Enter a number between 1 and 729</label>
            <input type="number" id="cid" name="cid" required="true" min="1" max="729"/><br><br>
            <input type="submit" value="Submit" id="submit"/>
        </form>
        <button>
            <a href="/combos/{{ range(1, 729) | random }}"><h2>Unsure? Click the button for a random combo</h2></a>
        </button>
    </div>
</div>
{% endblock %}
</body>
</html>