<!DOCTYPE html>
<html>
{% extends 'layout.html' %}
{% block content %}
<body class="combo_route">
<p class="combo">
    This is a test to show the list of individual combos currently in the database
    </p>
<!--Obtain combo id-->
<div class="grid_container">
    <div class="grid_item">
        <h1 style="align-items: center;">What combo are you looking for?</h1><br>
        <form action="/cid_submit" id="get_combo_id" method="POST">
            <label for="cid" style="font-size: 26px;">Combo ID (Must be between 1 and 729 inclusive)</label>
            <input type="number" id="cid" name="cid" required="true"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock %}
</body>
</html>