<!DOCTYPE html>
<html>
{% extends 'layout.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combo</title>
</head>
<body class="combo_route">
<h1 class="combo">
    Below is the combination of ID {{combo[0]}}
</h1>
<!--Obtain individual combos-->
<div class="container">
    <div class="item">
        <a href="/bed_base/{{combo[1]}}">
            <img src="/static/images/{{combo[6]}}" width="420" height="420">
        </a>
        <div class="item-info">
            <p>{{combo[2]}}</p>
        </div>
    </div>
    <div class="item">
        <a href="/blanket/{{combo[8]}}">
            <img src="/static/images/{{combo[13]}}" width="420" height="420">
        </a>
        <div class="item-info">
            <p>{{combo[9]}}</p>
        </div>
    </div>
    <div class="item">
        <a href="/mattress/{{combo[15]}}">
            <img src="/static/images/{{combo[20]}}" width="420" height="420">
        </a>
        <div class="item-info">
            <p>{{combo[16]}}</p>
        </div>
    </div>
</div>
<div>
    <button style="float: left;" class="previous_combo">
        <a style="text-decoration: none;" href="/combos/{{combo[0]-1}}">Previous</a>
    </button>
    <button style="margin-left: 43.5%; text-decoration: none;" class="random_combo">
        <a href="/combos/{{ range(1, 729) | random }}">Random</a>
    </button>
    <button style="float: right; text-decoration: none;" class="next_combo">
        <a href="/combos/{{combo[0]+1}}">Next</a>
    </button>
</div>
{% endblock %}
</body>
</html>