<!DOCTYPE html>
<html lang="en">
{% extends 'layout.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <p>Welcome, {{session['username']}}!</p><br><br>
    <h2>Session Termination</h2><hr>
    <h3>Log you out of your account</h3>
    <button class="dashboard" id="dashboard-logout">
        <a href="/logout">Logout</a>
    </button><br>
    <h2 id="delete-account">Delete your account</h2>
    <h3>This action is not reversible, think carefully before doing so</h3>
    <button class="dashboard" id="dashboard-delete">
        <a href="/delete">Delete Account</a>
    </button>
</body>
{% endblock %}
</html>