{% extends "layout.html" %}
{% block content %}
<html>
<head>
    <title>Bed World</title>
<h1>Welcome to New Zealand's wonderful website about beds, where you can find selective choices and combos obtained from other websites.
    For more bed choices and combos, please visit their respective website as this is purely for display and academic achievement</h1>
<div class='container'>
    <!-- item 1 starts here-->
    <div class='item'>
        <a href="/bed_base/0">
            <img src="static/images/Thames_Bed_Base_Standard.PNG" width="420" height="420" alt="to be replaced"> <!--Clickable image-->
        </a>
        <div class="item-info">
            <p class="homepage" style="font-size: 20px;"><u><b>Bed Bases</b></u><br>
            The bedroom's silent guardian, a solid base supporting the lavish design of the mattress above. 
            Crafted from the best materials, whether it be the deep, earthy tones of real wood or the sleek, contemporary lines of metal. 
            The bed base is the hidden hero that keeps everything together and makes sure that your sleeping environment is flawless in every way.
            </p>
        </div>
    </div>
    <!-- item 2 starts here-->
    <div class='item'>
        <a href="/mattress/0">
            <img src="static/images/Zero_Stowaway_Single_Tri-Fold.PNG" width="420" height="420" alt="to be replaced"> <!--Clickable image-->
        </a>
        <div class="item-info">
            <p class="homepage" style="font-size: 20px;"><u><b>Mattresses</b></u><br>
            A beautiful haven of relaxation, a work of contemporary comfort designed to hug the curves of the human body. 
            Exquisitely layered to offer the ideal ratio of support to cushioning, it is a luxurious expanse of soft, durable materials. 
            A mattress is more than just a place to sleep; it's a beautiful refuge where dreams come true and the stresses of the day are gently eased away. 
            It's wrapped in a soft, breathable fabric that invites the skin to breathe and the body to rest.
            </p>
        </div>
    </div>
    <!-- item 3 starts here-->
    <div class='item'>
        <a href="/blanket/0">
            <img src="static/images/Luxton_Blanket.PNG" width="420" height="420" alt="to be replaced"> <!--Clickable image-->
        </a>
        <div class="item-info">
            <p class="homepage" style="font-size: 20px;"><u><b>Blankets</b></u><br>
            A cocoon of soft, enveloping fabric that protects you from the chill of the night, the height of warmth and comfort. 
            Whether it is made of the finest wool, provides a thick, opulent drape, or is made of airy, lightweight cotton that caresses the skin, the blanket is a practical must and a tactile pleasure. 
            A regular moment of rest is elevated to an incredible feeling of comfort and calm by this warm refuge.
            </p>
        </div>
    </div>
{% endblock %}
</head>
</html>