{% extends "layout.html" %}
{% block content %}
<html>
<head>
<div class='container'>
    <!-- item 1 starts here-->
    <div class='item'>
        <a href="/bed_base">
        <img src="static/images/placeholder.jpg" alt="to be replaced">
        </a>
        <div class="item-info">
            <p class="homepage">Welcome to the website of beds that serves no purpose other than for academic achievements. Navigate to the any of the grids to view something useless
        </p>
        
        </div>
    </div>
    <!-- item 2 starts here-->
    <div class='item'>
        <img src="static/images/placeholder.jpg" alt="to be replaced">
        <div class="item-info">
            <p class="homepage">Welcome to the website of beds that serves no purpose other than for academic achievements. Navigate to the any of the grids to view something useless
        </p>
        </div>
    </div>
    <!-- item 3 starts here-->
    <div class='item'>
        <img src="static/images/placeholder.jpg" alt="to be replaced">
        <div class="item-info">
            <p class="homepage">Welcome to the website of beds that serves no purpose other than for academic achievements. Navigate to the any of the grids to view something useless
        </p>
        </div>
    </div>
{% endblock %}
</head>
</html>