{% extends "layout.html" %}
{% block content %}
<html>
<head>
<div class='container'>
    <!-- item 1 starts here-->
    <div class='item'>
        <a href="/bed_base/0">
        <img src="static/images/Thames_Bed_Base_Standard.PNG" width="420" height="420" alt="to be replaced"> <!--Clickable image-->
        </a>
        <div class="item-info">
            <p class="homepage"><u><b>Bed Bases</b></u><br>Click on the image above to go see some bed bases
        </p>
        
        </div>
    </div>
    <!-- item 2 starts here-->
    <div class='item'>
        <a href="/mattress/0">
        <img src="static/images/Zero_Stowaway_Single_Tri-Fold.PNG" width="420" height="420" alt="to be replaced"> <!--Clickable image-->
        </a>
        <div class="item-info">
            <p class="homepage"><u><b>Mattresses</b></u><br>Click on the image above to go see some mattresses
        </p>
        </div>
    </div>
    <!-- item 3 starts here-->
    <div class='item'>
        <a href="/blanket/0">
        <img src="static/images/Luxton_Blanket.PNG" width="420" height="420" alt="to be replaced"> <!--Clickable image-->
        </a>
        <div class="item-info">
            <p class="homepage"><u><b>Blankets</b></u><br>Click on the image above to go see some blankets
        </p>
        </div>
    </div>
{% endblock %}
</head>
</html>