<!DOCTYPE html>
<html>
{% extends 'layout.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mattress</title>
</head>
<body class="mattress_route">
<p class="mattress">
    This is a test to show the list of individual mattresses currently in the database
    </p>
<!--Obtain individual mattresses-->
<div class="grid_container">
    <div class="grid_item">
        <img src="/static/images/{{mattress[5]}}" width="329" height="214">
        <p style="font-size: 32px;">{{mattress[1]}}</p>
    </div>
    <div class="grid_item">
        <p style="font-size: 28px;">
            Comfy Level: {{mattress[4]}}<br><br>
            Available in these sizes: {{mattress[3]}}<br><br>
            Made from: {{mattress[2]}}<br><br>
            {{mattress[6]}}
        </p>
    </div>
</div>
<div>
    <button class="previous_combo">
        <a href="/mattress/{{mattress[0]-1}}">Previous</a>
    </button>
    <button class="next_combo">
        <a href="/mattress/{{mattress[0]+1}}">Next</a>
    </button>
</div>
{% endblock %}
</body>
</html>