<!DOCTYPE html>
<html>
{% extends 'layout.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blanket</title>
</head>
<body class="blanket_route">
<p class="blanket">
    </p>
<!--Obtain individual blankets-->
<div class="grid_container">
    <div class="grid_item">
        <img src="/static/images/{{blanket[5]}}" width="329" height="214">
        <p style="font-size: 32px;">{{blanket[1]}}</p>
    </div>
    <div class="grid_item">
        <p style="font-size: 28px;">
            Available in these colors: {{blanket[4]}}<br><br>
            Available in these sizes: {{blanket[3]}}<br><br>
            Made from: {{blanket[2]}}<br><br>
            {{blanket[6]}}
        </p>
    </div>
</div>
{% endblock %}
</body>
</html>