<!doctype html>
<html>
  <head>
<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/bed_base">Bed Bases</a>
  <a href="/mattress">Mattresses</a>
  <a href="/blanket">Blankets</a>
</div>
    <title>Bed World</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <header>
      <h1>THIS IS THE WORLD OF BEDS</h1>
    </header>
    <nav>NAVBAR!</nav>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer>Nobody reads me!</footer>

  </body>
</html>