<!DOCTYPE html>
<html>
{% extends 'layout.html' %}
{% block content %}
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/static/style.css">    
  <script src="/static/node.js"></script> 
</head>
<body></br></br></br></br></br>
  <div style="text-align: center;">
    <div style="text-align: center;" class="border">
        <div class="header">
          <h1 class="word">Login</h1>
        </div></br></br></br>
      <h2 class="word">
          <form action="/login" method="POST">
            <div class="msg">
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {{messages[-1]}}
                {% endif %}
              {% endwith %}
            </div>
            <br></h2>
              <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox" required></br></br>
                
              <div style="position: relative;">
                <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox" required></br></br>
                <i class="fas fa-eye eye-icon" id="password-login-eye-icon" onclick="show_password()"></i>
              </div>

              <input type="submit" class="btn" id="confirm-details" value="Sign In"></br></br>
          </form>
      </h2>
        <p style="font-size: 30px;" class="bottom">Don't have an account? <a class="bottom" href="/register">Sign Up here</a></p>
    </div>
  </div>
</body>
{% endblock %}
</html>