<!DOCTYPE html>
<html>
{% extends 'layout.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/static/style.css">              
</head>
<body></br></br></br></br></br>
    <div style="text-align: center;">
      <div style="text-align: center;" class="border">
          <div class="header">
            <h1 class="word">Register</h1>
          </div></br></br></br>
        <h2 class="word">
            <form action="/account/register" method="POST">
              <div class="msg">
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    {{messages[-1]}}
                  {% endif %}
                {% endwith %}
                <br>
                <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox" maxlength="24"/></br></br>
                <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox"/></br></br>
                <input id="confirm-password" name="confirm-password" type="password" placeholder="Confirm Your Password" class="textbox"/></br></br>
                <input type="checkbox" onclick="show_password()">Show Password</br></br></br>
                <input type="submit" class="btn" value="Sign Up"></br><br>
            </form>
        </h2>
        <p class="bottom">Already have an account?  <a class="bottom" href="/account/login"> Sign In here</a></p>
      </div>
    </div>
<script>
  function show_password() {
    var x = document.getElementById("password");
    var y = document.getElementById("confirm-password");
    if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }

    if (y.type === "password") {
      y.type = "text";
    } else {
      y.type = "password"
    }
    }
</script>
</body>
{% endblock %}
</html>